/* CSS for placing ships on the grid */
* {
  margin: 0;
  padding: 0;
}
:root {
  --grid-size: 50px;
}
body {
  background: silver
}
.carrier {
  width:  calc((var(--grid-size ) * 5) - 2px);
  height: calc(var(--grid-size ) - 2px);
}
.battleship {
  width:  calc((var(--grid-size ) * 4) - 2px);
  height: calc(var(--grid-size ) - 2px);
}
.cruiser {
  width:  calc((var(--grid-size ) * 3) - 2px);
  height: calc(var(--grid-size ) - 2px);
}
.submarine{
  width:  calc((var(--grid-size ) * 3) - 2px);
  height: calc(var(--grid-size ) - 2px);
}
.destroyer {
  width:  calc((var(--grid-size ) * 2) - 2px);
  height: calc(var(--grid-size ) - 2px);
}
#drag-1, #drag-2, #drag-3, #drag-4, #drag-5 {
  /*width: 88px;
  height: calc(var(--grid-size ) - 2px);*/
  /*min-height: 6.5em;*/
  /*margin: 1px;*/

  background-color: gray;
  color: white;
  border: 1px solid white;

  /*border-radius: 0.75em;*/
  /*padding: 4%;*/

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.drag-container {
  height: calc(var(--grid-size) * 10);
  width: calc(var(--grid-size) * 10);
  /*padding!--: 1px;*/
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px);
  background-size: var(--grid-size) var(--grid-size), var(--grid-size) var(--grid-size);
  /*background-position: -2px -2px, -2px -2px;*/
  background-position: -1px -1px, -1px -1px;

  /*linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:90px 90px, 90px 90px, 30px 30px, 30px 30px;
  background-position:-2px  -2px, -2px -2px, -1px -1px, -1px -1px*/
}
